/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

body{
    background: #181818;
    color: #ffffff;
}

#head{
    width: 1000px;
    margin: auto;
}

#head div{
    height: 70px;
    display: inline-block;
}

.logo{
    width: 350px;
    float: left;
}

.logo img{
    height: 100%;
}

#links{
    width: 650px;
    float: right;
    padding-left: 120px;
    box-sizing: border-box;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(193, 193, 193);
}

#links a{
    display: inline-block;
    width: 100px;
    font-size: 16px;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
}

.loginBtn button{
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#content{
    margin-top: 40px;
    float: left;
}

#content *{
    text-align: center;
    margin: 20px;
}

#content > div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
}

#content > p {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.btns button{
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    border: none;
}



.btnFree{
    background-color: #4452fe;
    color: #fff;
}
.btnFree:hover{
    background-color: #3240dd;
    
}